body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.highlights {
  padding-top: 50px;
  background-color: #b0b0b0;

  color: #182153;
}
#workexp {
  display: flex;
  text-align: left;
  align-content: center;
  flex-direction: column;
  align-items: center;
}
.mainheading {
  text-align: center;
  font-size: xx-large;
  margin: 0px;
  background-color: #182153;
  width: 100%;
  color: white;
  padding: 20px 0px;
}
/** fadeInLeft **/

.in-right {
  animation: fadeInRight 2s ease-in-out;
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(300px);
  }
  to {
    opacity: 1;
  }
}

.in-left {
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: fadeInLeft;
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-300px);
  }
  to {
    opacity: 1;
  }
}

p {
  text-align: left;
  font-size: medium;
}

.transparentbg {
  background-color: hsla(218, 43%, 82%, 0.2);
  font-family: "Lato", sans-serif;
  padding: 20px;
  font-size: larger;
  color: white;
}

.circlecard {
  border-radius: 250px;
  transition: transform 0.2s; /* Animation */
  width: 8rem;
  height: 8rem;
  margin: 0 auto;
}
.circlecard:hover {
  transform: scale(
    1.5
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.card {
  padding: 25px;
}

a {
  text-decoration: none !important;
}

.bg_one {
  background-image: url("https://thumbs.gfycat.com/EmbellishedTintedHawk-size_restricted.gif");
  padding: 3rem 0px;
  background-size: cover;
}

.bg_two {
  background-image: url("https://media0.giphy.com/media/26wcZlCq5O7pVD1sY/giphy.gif");

  background-size: fit;
}
.bg_three {
  background-image: url("https://i.pinimg.com/originals/07/e8/fa/07e8faaa355eed6a6c5ee718b9d0c83c.gif");
  background-size: fit;
}
.bg_four {
  background-image: url("https://i.gifer.com/CTb.gif");
  background-size: cover;
}

@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400&display=swap');
p, h4{
  font-family: 'Exo 2', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@200;300&display=swap');
b{
  font-family: 'Encode Sans SC', sans-serif;
}