.background{
background-image: url("https://64.media.tumblr.com/1f3ad12dfb8cca16e68e1e7be9553b23/ca21c741efa4e4f0-25/s640x960/0d69a7e2cf5f6b69f18d7f1978d62989861fc565.gif");
height: 100%;
padding: 3rem;
background-size:cover;
}

#Profile{
    background-image: url("./Photos/Rajesh Photo Half.jpg");
    background-size:cover;
    background-position: center;
    /* border-radius: 25%; */
}


#contactForm{
    background-color:  #182153;  
}

 #contactDetails, .contactTitle{
    background-color: whitesmoke;
    
}

#Profile, #contactForm,#contactDetails{
   
    height: 500px;
    width: 500px;
}

.footerdata {
    background-color: black;
    color: white;
    text-align: center;
}


#contactDetails{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: large;
    color: #182153;   
}

.contactinform{
    text-align: left;
}


.img-fluid{
    height: 100%;
    width: 100%;
}

