.bgtwo{
background-image: url("./Photos/Image.jpeg");
background-size:fit;

}

.alignments{
 
    padding: 5rem;
}

.SkillIcons{
    height: 100px;
    margin: 10px 0px 20px 0px;
}
.SkillIcons:hover {
    transform: scale(
      1.5
    );
  }
